@import "tailwindcss";

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
  background-color: white;
}

@theme {
    --primary-color: #7B007B;
    --secondary-color: #FFF887;
    --tertiary-color: #666666;
    --background-color: #E0E0E0;
    --background-opacity-color: #ffffffe3;

    --font-poppins: "Poppins", "Arial", "monospace";
    --font-rubik: "Rubik", "Helvetica", "monospace";

    --shadow-carousel: -100px -3px 0px -30px #7B007B;
}

/* Poppins Font Faces */

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
}

/* Rubik Font Faces */

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Bold.woff2') format('woff2');
    font-weight: 700;
}

/*
!Poppins 

-regular
-semi bold
-bold
-light

!Rubik

-bold
-regular
-medium

*/